.product-card-crud {
    margin-bottom: 30px;
}

.card-top-container-crud {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
    min-width: 159px;
    min-height: 159px;
}

.card-top-container-crud img {
    width: 158px;
    height: 158px;
}

.card-bottom-container-crud {
    padding: 15px 20px 30px 20px;
}

.card-bottom-container-crud h6 {
    font-size: 18px;
    color: #263238;
}

.product-categories-container-crud {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 20px;
}

.product-card-buttons-container-crud {
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;
}

.product-card-btn-crud {
    height: 40px;
    width: 110px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.015em;
    border-radius: 10px;
    margin-right: 10px;
}

@media(min-width: 768px) {
    .product-card-crud {
        display:flex;
    }

    .card-top-container-crud {
        border-bottom: 0;
        border-right: 1px solid #e1e1e1;
    }

    .product-card-description-crud {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
    }

    .product-card-buttons-container-crud {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px 20px 20px 0;
    }

    .product-card-btn-crud {
        width: 140px;
        margin: 10px;
    }
}

@media(min-width: 992px) {
    .product-card-btn-crud {
        width: 215px;
    }
}