.admin-navbar-container {
    padding: 10px;
    background: #ffffff;
}

.admin-navbar-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.admin-navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 100px;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: #9e9e9e;
}

.admin-navbar-item.active {
    background: rgba(64, 123, 255, 0.3);
    color: #407bff;
}

.admin-navbar-item p {
    margin: 0px;
}

@media (min-width: 576px) {
    .admin-navbar-item {
        min-width: 140px;
    }
}

@media (min-width: 768px) {
    .admin-navbar-item {
        min-width: 240px;
    }
}

@media (min-width:1200px) {
    .admin-navbar-container {
        padding: 0;
        width: 300px;
        height: calc(100vh - 70px);
    }

    .admin-navbar-items {
        justify-content: unset;
        flex-direction: column;
    }

    .admin-navbar-item {
        justify-content: flex-start;
        height: 80px;
        background-color: #ffffff;
        border-radius: 0;
        font-size: 18px;
        border-bottom: 1px solid #E1E1E1;
        padding-left: 40px ;
    }

}